body {
    font-family: 'Quicksand', sans-serif;
  }
  
  .viewer {
    width: 500px; /* Match new size */
    height: 500px;
    border: 2px solid #fff; /* White border */
  }
  
  @media (max-width: 768px) {
    .viewer {
      width: 100%;
      height: 300px; /* Smaller on mobile */
    }
  }